<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<form method="post" action="/submitadmin">
    <label>Password</label>
    <input type="text" name="password">
    <br>
    <label>name</label>
    <input type="text" name="name">
    <br>

    <label>type</label>
    <input type="text" name="type">
    <br>

    <label>Город:</label>
    <input type="text" name="town">
    <br>

    <label>check</label>
    <input type="text" name="check">
    <br>

    <label>info</label>
    <input type="text" name="info">
    <br>



    <br>
    <label>Что вы предпочтёте:</label>
    <br>
    <input type="radio" name="atmosphere" id="21" value="1">
    <label for="21">Веселье, вечеринки</label><br>
    <input type="radio" name="atmosphere" id="20" value="0">
    <label for="20">Тихое и спокойное место</label><br>
    <br>

    <label>Что вы предпочтёте:</label>
    <br>
    <input type="radio" name="price" id="31" value="1">
    <label for="31">Дорогое</label><br>
    <input type="radio" name="price" id="30" value="0">
    <label for="30">Недорогое</label><br>
    <br>

    <label>Что вы предпочтёте:</label>
    <br>
    <input type="radio" name="cousine" id="51" value="1">
    <label for="51">1</label><br>
    <input type="radio" name="cousine" id="50" value="0">
    <label for="50">0</label><br>
    <br>

    <label>Что вы предпочтёте:  </label>
    <br>
    <input type="radio" name="side" id="1" value="1">
    <label for="1">На природе</label><br>
    <input type="radio" name="side" id="0" value="0">
    <label for="0">В помещении</label><br>


    <label>Что вы предпочтёте:</label>
    <br>
    <input type="radio" name="advert" id="61" value="0">
    <label for="61">0</label><br>
    <input type="radio" name="advert" id="60" value="2">
    <label for="60">2</label><br>
    <br>

    <input type="submit">
</form>
</body>
</html>