<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <table>
        <tr>
            <td width="20%">
                <img width="300px" src="/static/img/logo.jpg">
            </td>
            <td width="60%">
            </td>
            <td width="20%">
                <a class="linklk" href="../"> <img class="linklk" width="100px" align="right" src="/static/img/home.jpg"></a>
            </td>
        </tr>
    </table>
    <br><br>
    <label align="center" class="prioritet">Ошибка:</label>
    <br><br>
    <label align="center" class="prioritet">{{error}}</label>
</body>
</html>