<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/code.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
    <table>
        <tr>
            <td width="20%">
                <img width="300px" src="/static/img/logo.jpg">
            </td>
            <td width="60%">
                <H1 align="center" class="namelk">{{name}}</H1>
            </td>
            <td width="20%">
                <a class="linklk" href="../"> <img class="linklk" width="100px" align="right" src="/static/img/home.jpg"></a>
            </td>
        </tr>
    </table>


    <hr size="2px" width="100%" color="#8c13af">
    <br>
    <form class="formbutton" method="post" action="/submitfromlk/{{info}}">
        <select name="town" class="selector">
            <option value="Пермь">Пермь</option>
            <option value="Екатеринбург">Екатеринбург</option>
        </select>
        <select name="type" class="selector">
            <option value="Ресторан">Рестораны</option>
            <option value="Культурное место">Культурные места</option>
            <option value="Развлечения">Развлечения</option>
        </select>
        <br>
        <input value="Подобрать места по предпочтениям"  align="center" class="sendbutton" type="submit">
    </form>
    <br>
    <hr size="2px" width="100%" color="#8c13af">
    <br>


    <div align="center" class="stat">
        <div class="tab">
          <button class="sendbutton5" id="res">Рестораны</button>
          <button class="sendbutton5" id="cul">Развлечения</button>
          <button class="sendbutton5" id="abo">О Place2</button>
        </div>
        <hr size="3px" align="center" width="100%" color="#8c13af">
        <div id="rest" class="tabcontent">
          <h3 class="namelk2">Статистика по рестораном из ваших оценок:</h3>
          <p class="namelk2">Японская кухня: {{params[3]*100}}</p>
          <p class="namelk2">Итальянская кухня: {{params[4]*100}}</p>
          <p class="namelk2">Европейская кухня: {{params[5]*100}}</p>
          <p class="namelk2">Азиатская кухня: {{params[6]*100}}</p>
          <p class="namelk2">Иная кухня: {{params[7]*100}}</p>
        </div>

        <div id="culture" class="tabcontent2">
          <h3 class="namelk2">Статистика по культурным местам из ваших оценок:</h3>
          <p class="namelk2">Музеи: {{params[0]*100}}</p>
          <p class="namelk2">Памятники: {{params[1]*100}}</p>
          <p class="namelk2">Выставки: {{params[2]*100}}</p>
        </div>

        <div id="about" class="tabcontent2">
          <h3 class="namelk2">Place2</h3>
          <p class="namelk2">Place2 представляет собой инфраструктуру из проектов направленых на развитие туризма и развлечений. Управление аккаунтом возможно через ЛК и TG.</p>
          <p class="namelk2">Проект создан командой 59К, деятельность которой направленна на поддержку малых населенных пунктов пермского края.</p>
          <p class="namelk2">Контакты: @sklvart и @Kicel_007.</p>
        </div>

    </div>


    <br>
    <hr size="2px" width="100%" color="#8c13af">
    <section class="paform">
        <label class="prioritet">Оставьте отзыв для анализа нейросетью Ваших предпочтений:</label>
        <br><br>
            <form method="post" action="/submitresponse">
            <select name="inputtown" class="selector">
                <option value="Пермь">Пермь</option>
                <option value="Екатеринбург">Екатеринбург</option>
            </select>
            <br><br>
            <input placeholder="   Название места" class="inputtown" type="text" name="name">
            <br><br>
            <input placeholder="   Оценка от 1 до 9" class="inputtown" type="text" name="mark">
            <br>
            <input class="sendbutton" type="submit">
        </form>
    </section>
    <br>
    <form class="formbutton" method="post" action="/logout">
        <input value="Выйти из аккаунта"  align="center" class="sendbutton2" type="submit">
    </form>
    <br>
    <div class="bottom">
        <p class="bottomtext" align="center">©All rights reserved Place2Day 2024</p>
    </div>
</body>
</html>