<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
    <title>Place2Day</title>
</head>
<body>
<section class="headbanner">
    <img width="300px" src="/static/img/logo.jpg">
    <q class="qq" align="center">Используй джойстик, чтобы управлять самолетом.</q>
    <a class="linklk" href="/user"> <img class="linklk" width="100px" align="right" src="/static/img/lk.jpg"></a>
</section>
<section class="premium">
<hr size="2px" width="100%" color="#8c13af">
<br>
<a href="/premium"><input value="Place2Premium" class="sendbutton" type="submit" name="town"></a>
<a href="/list"><input value="Список мест" class="sendbutton" type="submit" name="town"></a>
<br><br>
<hr size="2px" width="100%" color="#8c13af">
</section>
<section class="paform">
    <form method="post" action="/submit">
        <select name="inputtown" class="selector">
            <option value="Пермь">Пермь</option>
            <option value="Екатеринбург">Екатеринбург</option>
        </select>
        <br><br>
        <input placeholder="  Количество мест от 1 до 20" class="inputtown" type="text" name="count">
        <br><br>
        <select id="type" name="type" class="selector">
            <option value="-">-</option>
            <option value="Ресторан">Рестораны</option>
            <option value="Культурное место">Культурные места</option>
            <option value="Развлечения">Развлечения</option>
        </select>
        <br><br>
        <select id="hd1" class="sel" name="type2">
            <option value="Японская кухня">Японская кухня</option>
            <option value="Итальянская кухня">Итальянская кухня</option>
            <option value="Европейская кухня">Европейская кухня</option>
            <option value="Азиатская кухня">Азиатская кухня</option>
            <option value="Иная кухня">Иная кухня</option>
        </select>
        <select id="hd2" class="sel" name="type2">
            <option value="Музей">Музей</option>
            <option value="Пямятник">Пямятник</option>
            <option value="Выставка">Выставка</option>
        </select>
        <select id="hd3" class="sel" name="type2">
            <option value="-">-</option>
        </select>
        <br>
        <label class="prioritet">Что вы предпочтёте:</label>
        <br>
        <br>

        <div class="radiobox">
            <label class="checkboxes" for="21">Веселье, вечеринки </label>
            <input class="radiosize" type="radio"  name="atmosphere" id="21" value="1">
            <input class="radiosize" type="radio" name="atmosphere" id="20" value="0">
            <label class="checkboxes" for="20">Тихое и спокойное место</label><br>
        </div>
        <br>
        <br>
        <div class="radiobox">
            <label class="checkboxes" for="31">Дорогое</label>
            <input class="radiosize" type="radio" name="price" id="31" value="1">
            <input class="radiosize" type="radio" name="price" id="30" value="0">
            <label class="checkboxes" for="30">Недорогое</label><br>
        </div>
        <br>
        <br>
        <div class="radiobox">
            <label class="checkboxes" for="1">Светлые тона</label>
            <input class="radiosize" type="radio" name="color" id="1" value="1">
            <input class="radiosize" type="radio" name="color" id="0" value="0">
            <label class="checkboxes" for="0">Темные тона</label><br>
        </div>
        <input class="sendbutton" type="submit">
    </form>
    <br><br><br>
</section>
<div class="bottom">
    <p class="bottomtext" align="center">©All rights reserved Place2Day 2024</p>
</div>
</body>
</html>