<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place2Day</title>
</head>
<body>
<form method="post" action="/submit">
    <label>Город:</label>
    <input type="text" name="town">
    <br>

    <label>Количество мест:</label>
    <input type="text" name="count">
    <br>

    <br>
    <label>Что вы предпочтёте:</label>
    <br>
    <input type="radio" name="atmosphere" id="21" value="1">
    <label for="21">Веселье, вечеринки</label><br>
    <input type="radio" name="atmosphere" id="20" value="0">
    <label for="20">Тихое и спокойное место</label><br>
    <br>

    <label>Что вы предпочтёте:</label>
    <br>
    <input type="radio" name="price" id="31" value="1">
    <label for="31">Дорогое</label><br>
    <input type="radio" name="price" id="30" value="0">
    <label for="30">Недорогое</label><br>
    <br>

    <label>Что вы предпочтёте:  </label>
    <br>
    <input type="radio" name="side" id="1" value="1">
    <label for="1">На природе</label><br>
    <input type="radio" name="side" id="0" value="0">
    <label for="0">В помещении</label><br>
    <input type="submit">
</form>
</body>
</html>