<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Premium</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <table>
        <tr>
            <td width="20%">
                <img width="150px" src="/static/img/prem2.png">
            </td>
            <td width="60%">
                <H1 align="center" class="namelk3">PREMIUM</H1>
            </td>
            <td width="20%">
                <a class="linklk" href="../"> <img class="linklk" width="100px" align="right" src="/static/img/premhome.png"></a>
            </td>
        </tr>
    </table>
    <br><hr size="2px" width="100%" color="#dbe600"><br>
    <p class="prt" align="center">Оформите Place2Premium и разблокируйте возможность получить персонализированные комплексные туры, в частности туры сельского туризма.</p>
    <p class="prt" align="center">Разблокировать:</p>
    <div class="cent">
    <a href="https://t.me/place2day_bot"><img width="100px" align="center" src="/static/img/lock.png"></a>
    </div>
    <br><hr size="2px" width="100%" color="#dbe600"><br>
    <div class="cent">
        <img width="200px" align="center" src="/static/img/premkalmar.jpg">
    </div>
</body>
</html>